.jamai-bow {
    height: 400px;
    width: 600px;
}
  .end{
      height: 200px;
      width: 100%;
  }
  a {
    /* text-decoration: none; */
    color: white;
    text-decoration: double;
    
 }
 h1 {
    width: 500px;
 }